.suggestionPage {
    width: 100%;
    padding: 30px;
    /* height: 88vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.suggestionContainer {
    margin-top: 15px;
    width:100%;
    height: 67vh;
    /* background-color:red; */
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.suggestionItem{
    width:100%;
    height: 150px;
    /* background-color: green; */
    word-wrap: break-word;
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 10px;

    /* text-wrap:balance; Hide horizontal overflow */
}
